* {
    box-sizing: border-box;
}


.background {
}

body {
    margin: 0;
    background-color: white:
}

header h1 {
    text-align: center;
    font-size: 52px;
    margin-top: 75px; 
    border: solid 5px #E63946;
}

ul {
    text-align: center;
    list-style-type: none;
}

form label {
    display: block; 
}

fieldset {
    width: 80%;
    padding: 40px;
    margin: 0 auto;
    /*border: solid 3px #E63946; */
}

legend {
    text-align: center;
    font-size: 22px;
}

h2 {
    font-size: 35px;
    border: black;
    margin: 25px;
    text-align: center;
    margin: 25px;
}

.result {
    text-align: center;
    color: red;
}

main {
    width: 400px;
    margin: 0 auto; ;
}



h3 {
    text-align: center;
}

.buttonCenter {
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}

.questionBox{
    border: 2px black solid;
    padding: 15px;
    margin-top: 85px;
    margin-bottom: 15px;
}

p {
    text-align: center;
}

.submit-button {
    text-align: center;
    margin: 0 auto;
}

.next-button {
    text-align: center;
    margin: 0 auto;
}